<link rel="stylesheet" href="/css/menu.css">
<div class="menu">
    <ul>
        <li><i class="fa-duotone fa-house-window"></i>Home</li>
        <li>notifications</li>
        <li>message</li>
        <li>profile</li>
    </ul>
</div>