<link rel="stylesheet" href="/css/chatbox.css">
<div id="user-chat-box">
    <ul id="chat-messages-list">
        <li class="other-msg">
            <span>other msg</span>
        </li>
        <li class="self-msg">
            <span>self msg</span>
        </li>
        <li class="other-msg">
            <span>other msg</span>
        </li>
        <li class="self-msg">
            <span>self msg</span>
        </li>
    </ul>
    <div id="chat-msg-input-container">
        <form method="post" action="">
            <input name="chat-msg-input" placeholder="send message..." type="text">
            <button type="submit">send</button>

        </form>
    </div>
</div>