<link rel="stylesheet" href="/css/chatbox.css">
<div id="user-chat-box">
    <ul id="chat-messages-list">
        <!-- <li class="other-msg">
            <span>other msg</span>
            <sub class="email-user">abc@gmail.com</sub>
        </li>
        <li class="self-msg">
            <span>self msg</span>
            <sub class="email-user">abc@gmail.com</sub>
        </li> -->
        
    </ul>
    <div id="chat-msg-input-container">
        <form method="post" action="" id="form-send-msg">
            <input id="chat-msg-input" placeholder="send message..." type="text">
            <button id="send-msg">send</button>

        </form>
    </div>
</div>