<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-main">
        <h5>ⓒ Made by Prince and Alok</h5>
        <ul class="footer-list">
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/users/terms/">Terms</a></li>
            <li><a href="/users/languages">Language</a></li>
            <li><a href="/users/terms/privacy">Privacy</a></li>
        </ul>
    </div>
   
</footer>