<link rel="stylesheet" href="/css/form.css">
<div>
    <form action="/users/reset-pass" method="post">
        <input placeholder="Enter email..." name="email" required>
        <button type="submit">Reset</button>

    </form>
</div>