<link rel="stylesheet" href="/css/home.css">

<div class="main-home">
    <section id="feed-posts">
        <h2>Posts</h2>
        <form id="new-post-form" class="form" action="/posts/new-post" method="post">
            <textarea name="content" placeholder="Write your post..." rows="5" cols="30" required></textarea><br>
            <button type="submit">Post</button>

        </form>
    
        <div class="view-posts">
            <div id="posts-list-container">
                
                <% for(let post of posts){ %>
                    <%- include('_posts',{post:post}) -%>
                <% } %>
            </div>
        </div>
    </section>
    <section id="user-friends">
        <%- include('_userLists') -%>

    </section>
    <%- include('_chatbox.ejs') -%>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script>
<!-- new chat engine instace -->
<script>
    new chatEngine('user-chat-box','<%= locals.user.email %>')
</script>