        <link rel="stylesheet" href="/css/home.css">
        
        <div>
        <h3 class="heading-3">
            hi this is home page!
        </h3>
        <section id="feed-posts">
            <h3>Posts</h3>
            <form id="new-post-form" class="form" action="" method="post">
                <textarea name="content" placeholder="Write your post..." rows="5" cols="30" required></textarea><br>
                <button type="submit">Post</button>

            </form>
        </section>
        </div>
       