<div>
    <p>name : <%=user.name%> </p>
    <p>id  : <%=user.id%></p>
    <p>email: <%=user.email%></p>
    <p>passwod :<%=user.password%> </p>
    <button><a href="/users/sign-out">sign out</a></button>
</div>