<div>
    <form action="/users/newPassword" method="post">
        <input name="password" required placeholder="New password...">
        <input name="cnf-password" placeholder="Confirm password.." required>
        <button  type="submit">Submit</button>
    </form>
</div>