<div>
    <form action="/users/newPassword" method="post">
        <input name="password" required placeholder="New password...">
        <input name="cnf_password" placeholder="Confirm password.." required>
        <input type="hidden" value="<%= accessToken %>" name="accessToken">
        <button  type="submit">Submit</button>
    </form>
</div>