<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter Name" required><br>
    <input type="email" placeholder="Enter Email" name="email" required><br>
    <input type="password" placeholder="Enter password" name="password" required><br>
    <input type="password" placeholder="Confirm password" name="cnf_password" required><br>
    <button type="submit">signIn</button>
</form>