<link rel="stylesheet" href="/css/form.css">
<div class="form-div" id="sign-up">
    <h2>Sign Up</h2>
    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="Enter Name" required><br>
        <input type="email" placeholder="Enter Email" name="email" required><br>
        <input type="password" placeholder="Enter password" name="password" required><br>
        <input type="password" placeholder="Confirm password" name="cnf_password" required><br>
        <lable>Country</lable>
        <select name="country">
            <% for(let i of country){ %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
        </select>
        <button type="submit">signIn</button>
    </form>
    <p><a href="/users/auth/github">Github login/signup</a></p>
    <h6><a href="/users/sign-in">Already a user | Login</a></h6>
</div>