<form action="/users/login" method="post">
    <input type="email" placeholder="Enter Email" name="email" required><br>
    <input type="password" placeholder="Enter password" name="password" required><br>
    <button type="submit">signIn</button>
</form>