.main-home {
  display: flex;
  background-color: white;
  color: #131010; }
  .main-home #feed-posts {
    width: 75%;
    padding: 10px; }
    .main-home #feed-posts .form textarea {
      border: none;
      background-color: whitesmoke; }
    .main-home #feed-posts .form textarea:focus {
      outline: none; }
    .main-home #feed-posts .view-posts .post-container {
      border: 1px solid black;
      margin: 5px; }
      .main-home #feed-posts .view-posts .post-container .post-header {
        background-color: whitesmoke;
        padding: 3px;
        line-height: 0;
        border-bottom: 1px solid black; }
        .main-home #feed-posts .view-posts .post-container .post-header h3 a {
          color: slateblue; }
        .main-home #feed-posts .view-posts .post-container .post-header h3 a:hover {
          color: grey; }
        .main-home #feed-posts .view-posts .post-container .post-header p {
          font-size: x-small;
          font-weight: 100;
          color: #2c2929; }
      .main-home #feed-posts .view-posts .post-container .post-content {
        background-color: bisque;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif; }
      .main-home #feed-posts .view-posts .post-container .comment-container {
        padding: 5px; }
        .main-home #feed-posts .view-posts .post-container .comment-container form input {
          background: white;
          border: none;
          border-bottom: 1px solid black; }
        .main-home #feed-posts .view-posts .post-container .comment-container form input:focus {
          outline: none; }
        .main-home #feed-posts .view-posts .post-container .comment-container .existing-comment {
          font-family: cursive;
          font-weight: 300;
          font-size: small;
          color: #343232; }
          .main-home #feed-posts .view-posts .post-container .comment-container .existing-comment a {
            font-size: x-small; }
    .main-home #feed-posts h2 {
      text-align: center;
      background-color: black;
      color: whitesmoke;
      box-shadow: inset; }
  .main-home a {
    color: red; }
  .main-home button {
    border: none;
    background-color: black;
    color: white;
    padding: 5px; }
  .main-home #user-friends {
    width: 25%;
    padding: 10px;
    border-left: 1px solid black; }
