.menu {
  width: 18%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: 1px solid black;
  border-top: 1px solid black;
  color: #181a13; }
  .menu ul {
    width: 100%;
    margin-left: -17%;
    margin-top: 0%;
    display: flex;
    flex-direction: column; }
    .menu ul li {
      font-size: x-large;
      font-weight: 900;
      border-bottom: 1px solid black;
      width: 100%;
      align-items: center;
      font-family: cursive; }
    .menu ul li:hover {
      background: linear-gradient(#322043, #323284); }
