<div>
    <p>Hi <%= comment.user.name %></p>
    <br>
    <br>
    <p>Your commment <strong> <%= comment.content %> </strong> just got published on codiel !</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>