.heading-3{
    background-color: black;
}
#new-post-form{
    textarea{
        border: none;
        // border-bottom: 1px solid black;
        background-color: rgb(243, 233, 233);
    }
    button{

    }

}