.menu{
    width: 18%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    // border: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    color: rgb(24, 26, 19);
    ul{
        width: 100%;
        margin-left: -17%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        
        li{
            font-size: x-large;
            font-weight: 900;
            // height: 100%;
            border-bottom: 1px solid black;
            width: 100%;
            align-items: center;
            font-family:cursive
        }
        li:hover{
            background:linear-gradient(rgb(50, 32, 67),rgb(50, 50, 132));
        }
    }
}